<!Doctype html>
<html>
    <head>
        <title>드림캐쳐</title>
        <meta charset="utf-8" />
        <meta http-equiv="Content-Type" />
        <meta content="text/html;" />

        <!-- css -->
        <link href="http://fonts.googleapis.com/css?family=Didact+Gothic" rel="stylesheet" />
        <link href="/css/main.css" rel="stylesheet" />
        <link href="/css/font.css" rel="stylesheet" />
    </head>
    <body>
        <!-- Header Start -->
        <div id="header-wrapper">
            <div id="header" class="container">
                <div id="logo">
                    <h1><a href="#">Dreamcatcher</a></h1>
                </div>
                <div id="menu">
                    <ul>
                        <li class="active"><a href="#" accesskey="1" title="">Homepage</a>
                        </li>
                        <li><a href="#" accesskey="2" title="">About services</a></li>
                        <li><a href="#" accesskey="3" title="">Help me</a></li>
                    </ul>
                </div>
            </div>
            <div id="banner" class="container">
                <div class="title">
                    <h2>명언</h2>
                    <span class="byline">" "</span>
                </div>
                <ul class="actions">
                    <li><a href="#" class="button">Help</a></li>
                </ul>
            </div>
        </div>
        <div id="wrapper">
            <div id="three-column" class="container">
                <div class="title">
                    <h2>Our services</h2>
                    <span class="byline">You can make friends who you can share your concerns with, find out who you can ask for help with,<br> and share concerns or content you don't want to share with people with a chatbot.</span>
                </div>
                <div class="boxA">
                    <li>
                        <a href="/law">
                            <div class="ch-item ch-img-1">
                                <div class="ch-info-wrap">
                                    <div class="ch-info">
                                        <div class="ch-info-front ch-img-1"></div>
                                        <div class="ch-info-back">
                                            <h3>Law</h3>
                                            <p>학교폭력 관련 법</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </li>
                </div>
                <div class="boxB">
                    <li>
                        <div class="ch-item ch-img-2">
                            <div class="ch-info-wrap">
                                <div class="ch-info">
                                    <div class="ch-info-front ch-img-2"></div>
                                    <div class="ch-info-back">
                                        <h3>Consulting</h3>
                                        <p>상담</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </div>
                <div class="boxC">
                    <li>
                        <div class="ch-item ch-img-3">
                            <div class="ch-info-wrap">
                                <div class="ch-info">
                                    <div class="ch-info-front ch-img-3"></div>
                                    <div class="ch-info-back">
                                        <h3>Chatbot</h3>
                                        <p>대화형 챗봇</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </div>
            </div>
        </div>
        <div id="welcome">
            <div class="container">
                <div class="title">
                    <h2 class="byline3">드림캐쳐는 ?</h2>
                    <span class="byline2">학교폭력으로 인해 스트레스, 우울, 외로움을 느끼고 있는 누구나 마음 속의 힘든 이야기나 <br> 공감이 필요할 때 찾아올 수 있는 곳입니다. 아무에게도 이야기 싫고 아무도 몰랐으면 하지만 <br>
                나 혼자 알자니 마음이 답답한데 이야기 할 곳도 마땅히 없을 때 언제든 찾아오세요 !</span>
                </div>
                <p>
                    Anyone who is feeling stressed, depressed, or lonely due to school violence has a hard story or story in their heart. <br>
                    This is a place you can come to when you need empathy. I don't want to tell anyone, I don't want anyone to know
                    <br> If you're feeling frustrated because you're the only one who knows, but you don't have a good place to talk, come visit us anytime! :)</p>
                <ul class="actions">
                    <li><a href="#" class="button">Go Homepage</a></li>
                </ul>
            </div>
        </div>
        <div id="copyright" class="container">
            <p>&copy; DreamCatcher | introduce | about services | contact </a></p>
        </div>
    </body>
</html>