<!Doctype html>
<html>
    <head>
        <title>드림캐쳐</title>
        <meta charset="utf-8" />
        <meta http-equiv="Content-Type" />
        <meta content="text/html;" />

        <!-- css -->
        <link href="http://fonts.googleapis.com/css?family=Didact+Gothic" rel="stylesheet" />
        <link href="/css/main.css" rel="stylesheet" />
        <link href="/css/font.css" rel="stylesheet" />
    </head>
    <body>
        <!-- Header Start -->
        <div id="header-wrapper">
            <div id="header" class="container">
                <div id="logo">
                    <h1><a href="#">Dreamcatcher</a></h1>
                </div>
                <div id="menu">
                    <ul>
                        <li class="active"><a href="#" accesskey="1" title="">Homepage</a>
                        </li>
                        <li><a href="#" accesskey="2" title="">About services</a></li>
                        <li><a href="#" accesskey="3" title="">Help me</a></li>
                    </ul>
                </div>
            </div>
            <div id="banner" class="container">
                <div class="title">
                    <h2>명언</h2>
                    <span class="byline">" "</span>
                </div>
                <ul class="actions">
                    <li><a href="#" class="button">Help</a></li>
                </ul>
            </div>
        </div>
    </body>
</html>